<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<title>Henry 的海底撈黑海會員之路</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/5.0.1/tocas.min.css" />
	<meta name="description" content="Henry 的海底撈黑海會員之路">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js"></script>
	<style>
		.progress-levels {
			text-align: right;
			line-height: 1rem;
		}

		.progress-levels .column {
			padding-top: .5rem;
		}

		.progress-levels small {
			display: block;
			text-align: right;
			font-size: .7rem;
			color: var(--ts-gray-500);
		}

		.ts-header small {
			font-size: 70%;
			color: var(--ts-gray-500);
			padding-left: 1rem;
		}
	</style>
</head>
<body>
	<div class="ts-container" id="app">
		<div class="ts-wrap is-vertical has-vertically-spaced-large is-relaxed">
			<h1 class="ts-header is-big is-center-aligned">Henry 的海底撈黑海會員之路</h1>
			<div>
				<div class="ts-progress">
					<div class="bar" :style="{ '--value': point / target * 100 }">
						<div class="text">{{ point | num }}</div>
					</div>
				</div>
				<div class="ts-grid progress-levels">
					<div class="column" v-for="level in levels" v-if="level.point != 0"
					:style="{ width: level.point >= target ? 'auto' : (level.add_point / target * 100) + '%' }"
					:class="{ 'is-fluid': level.point >= target }"
					>
						{{ level.name }}
						<small>
							{{ level.point | num }}
							<span v-if="level.point <= point" class="ts-icon is-circle-check-icon"></span>
						</small>
					</div>
				</div>
			</div>
			<div class="ts-box" v-if="point < target">
				<div class="ts-content">
					<div class="ts-text is-label has-bottom-spaced-small">距離黑海會員還需要</div>
					<div class="ts-header is-large">{{ target - point | num }} 積分
						<small>( $ {{ (target - point)*5 | num}} )</small>
					</div>
				</div>
				<div class="symbol"><span class="ts-icon is-trophy-icon"></span></div>
			</div>
			<div class="ts-box">
				<table class="ts-table is-small">
					<thead>
						<tr>
							<th>日期</th>
							<th>花費金額</th>
							<th>獲得積分</th>
							<th>累積積分</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="log in logs">
							<td>{{ log.day }}</td>
							<td>$ {{ (log.point*5) | num }}</td>
							<td>{{ log.point | num }}</td>
							<td>{{ log.total_point | num }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				levels: [
					{ name: '紅海', point: 0 },
					{ name: '銀海', point: 1600 },
					{ name: '金海', point: 6000 },
					{ name: '黑海', point: 10000 },
				],
				logs: [
					{day: "2025/1/5", point: 682},
					{day: "2024/12/25", point: 757},
					{day: "2024/12/8", point: 730},
					{day: "2024/12/4", point: 520},
					{day: "2024/11/20", point: 1231},
					{day: "2024/10/20", point: 763},
					{day: "2024/9/12", point: 1099},
					{day: "2024/7/30", point: 1206},
					{day: "2024/7/21", point: 468},
					{day: "2024/4/17", point: 699}
				]
			},
			computed: {
				point() {
					return this.logs.reduce((acc, log) => acc + log.point, 0);
				},
				target() {
					return Math.max(...this.levels.map(level => level.point));
				}
			},
			filters: {
				num(value) {
					return parseInt(value).toLocaleString();
				}
			},
			mounted() {
				this.logs.sort((a, b) => new Date(b.day) - new Date(a.day));
				for (let i = this.logs.length - 1; i >= 0; i--) {
					this.logs[i].total_point = parseInt(this.logs.slice(i).reduce((acc, log) => acc + log.point, 0));
				}
				for (let i = 1; i < this.levels.length; i++) {
					this.levels[i].add_point = Math.max(0, this.levels[i].point - this.levels[i - 1].point);
				}
			}
		});
	</script>
</body>
</html>
